@charset "utf-8";
/* CSS Document for russacker.github.io*/

/* Fonts */
body {
	font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 0.875em;
}

p.smallitalic {
    font-size: 0.75em;
    font-style: italic;
}


/* Divs */
div.container {
	width:1800px;
	align-content:center;
	text-align:center;
}

div.sankey_raw {
	width:1620px;
	height:640px;
}
