@charset "utf-8";
/* CSS Document for russacker.github.io*/

/* Fonts */
body {
	font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 0.875em;
}

p.smallitalic {
    font-size: 0.75em;
    font-style: italic;
}


/* Divs */
div.container {
    width:1800px;
}

div.containerctr {
    width:1800px;
    text-align:center;
}

div.cohorttext {
    font-weight:bold; 
    position:relative; 
    left:835px;
}

div.17nodehdr {
    float:left; 
    width:100px;
}

div.15nodehdr {
    float:left; 
    width:113px;
}

div.13nodehdr {
    float:left; 
    width:133px;
}

div.11nodehdr {
    float:left; 
    width:160px;
}

div.9nodehdr {
    float:left; 
    width:200px;
}

div.7nodehdr {
    float:left; 
    width:267px;
}

div.5nodehdr {
    float:left; 
    width:400px;
}

div.3nodehdr {
    float:left; 
    width:800px;
}

div.lastnodehdr {
    float:left; 
    width:100px;
}

div.nodehdrs {
    height:100%; 
    width:1800px; 
    overflow: hidden;
    font-size: 0.875em;
}

div.sankey_raw {
    width:1800px;
    height:650px;
}

