@font-face {
  font-family: 'entypo';
  src: url('/lib/fonts/fontello.eot?94279212');
  src: url('/lib/fonts/fontello.eot?94279212#iefix') format('embedded-opentype'),
       url('/lib/fonts/fontello.woff?94279212') format('woff'),
       url('/lib/fonts/fontello.ttf?94279212') format('truetype'),
       url('/lib/fonts/fontello.svg?94279212#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello.svg?94279212#fontello') format('svg');
  }
}
*/
 
.entypo {
	font-family: 'entypo';
	font-size: 1em;
	font-weight: normal;
	line-height: 0;
}
 
.entypo-social {
	font-family: 'entypo';
	font-size: 1em;
	font-weight: normal;
	line-height: 0;
}
 
.entypo-social.twitter:before { content: '\e800'; } /* 'Ã®Â â‚¬' */
.entypo-social.facebook:before { content: '\e801'; } /* 'Ã®Â Â' */
.entypo-social.gplus:before { content: '\e803'; } /* 'Ã®Â Æ’' */
.entypo-social.instagram:before { content: '\e804'; } /* 'Ã®Â â€ž' */
.entypo-social.pinterest:before { content: '\e805'; } /* 'Ã®Â â€¦' */
.entypo-social.linkedin:before { content: '\e806'; } /* 'Ã®Â â€ ' */


.entypo.map:before { content: '\e807'; } /* 'Ã®Â â€¡' */
.entypo.mail:before { content: '\e808'; } /* 'Ã®Â Ë†' */
.entypo.user:before { content: '\e809'; } /* 'Ã®Â â€°' */
.entypo.users:before { content: '\e80a'; } /* 'Ã®Â Å ' */
.entypo.video:before { content: '\e80b'; } /* 'Ã®Â â€¹' */
.entypo.play:before { content: '\e80c'; } /* 'Ã®Â Å’' */
.entypo.stop:before { content: '\e80d'; } /* 'Ã®Â Â' */
.entypo.pause:before { content: '\e80e'; } /* 'Ã®Â Å½' */
.entypo.record:before { content: '\e80f'; } /* 'Ã®Â Â' */
.entypo.popup:before { content: '\e810'; } /* 'Ã®Â Â' */
.entypo.search:before { content: '\e802'; } /* 'Ã®Â â€š' */





.entypo-social.sweden:before { content: '\e898'; } /* 'Ã®Â¢Ëœ' */
.entypo-social.smashing:before { content: '\e899'; } /* 'Ã®Â¢â„¢' */
.entypo-social.logo-db:before { content: '\e89a'; } /* 'Ã®Â¢Å¡' */
.entypo-social.spotify-circled:before { content: '\e89b'; } /* 'Ã®Â¢â€º' */
.entypo-social.spotify:before { content: '\e89c'; } /* 'Ã®Â¢Å“' */
.entypo-social.rdio-circled:before { content: '\e89d'; } /* 'Ã®Â¢Â' */
.entypo-social.rdio:before { content: '\e89e'; } /* 'Ã®Â¢Å¾' */
.entypo-social.qq:before { content: '\e89f'; } /* 'Ã®Â¢Å¸' */
.entypo-social.instagram:before { content: '\e8a0'; } /* 'Ã®Â¢Â ' */
.entypo-social.dropbox:before { content: '\e8a1'; } /* 'Ã®Â¢Â¡' */
.entypo-social.evernote:before { content: '\e8a2'; } /* 'Ã®Â¢Â¢' */
.entypo-social.flattr:before { content: '\e8a3'; } /* 'Ã®Â¢Â£' */
.entypo-social.skype:before { content: '\e8a4'; } /* 'Ã®Â¢Â¤' */
.entypo-social.skype-circled:before { content: '\e8a5'; } /* 'Ã®Â¢Â¥' */
.entypo-social.renren:before { content: '\e8a6'; } /* 'Ã®Â¢Â¦' */
.entypo-social.sina-weibo:before { content: '\e8a7'; } /* 'Ã®Â¢Â§' */
.entypo-social.paypal:before { content: '\e8a8'; } /* 'Ã®Â¢Â¨' */
.entypo-social.picasa:before { content: '\e8a9'; } /* 'Ã®Â¢Â©' */
.entypo-social.mixi:before { content: '\e8aa'; } /* 'Ã®Â¢Âª' */
.entypo-social.behance:before { content: '\e8ab'; } /* 'Ã®Â¢Â«' */
.entypo-social.soundcloud:before { content: '\e8ac'; } /* 'Ã®Â¢Â¬' */
.entypo-social.google-circles:before { content: '\e8ad'; } /* 'Ã®Â¢Â­' */
.entypo-social.vkontakte:before { content: '\e8ae'; } /* 'Ã®Â¢Â®' */
.entypo-social.lastfm-circled:before { content: '\e8af'; } /* 'Ã®Â¢Â¯' */
.entypo-social.lastfm:before { content: '\e8b0'; } /* 'Ã®Â¢Â°' */
.entypo-social.stumbleupon-circled:before { content: '\e8b1'; } /* 'Ã®Â¢Â±' */
.entypo-social.stumbleupon:before { content: '\e8b2'; } /* 'Ã®Â¢Â²' */
.entypo-social.dribbble-circled:before { content: '\e8b3'; } /* 'Ã®Â¢Â³' */
.entypo-social.dribbble:before { content: '\e8b4'; } /* 'Ã®Â¢Â´' */
.entypo-social.linkedin-circled:before { content: '\e8b5'; } /* 'Ã®Â¢Âµ' */
.entypo-social.linkedin:before { content: '\e8b6'; } /* 'Ã®Â¢Â¶' */
.entypo-social.tumblr-circled:before { content: '\e8b7'; } /* 'Ã®Â¢Â·' */
.entypo-social.tumblr:before { content: '\e8b8'; } /* 'Ã®Â¢Â¸' */
.entypo-social.pinterest-circled:before { content: '\e8b9'; } /* 'Ã®Â¢Â¹' */
.entypo-social.pinterest:before { content: '\e8ba'; } /* 'Ã®Â¢Âº' */
.entypo-social.gplus-circled:before { content: '\e8bb'; } /* 'Ã®Â¢Â»' */
.entypo-social.gplus:before { content: '\e8bc'; } /* 'Ã®Â¢Â¼' */
.entypo-social.facebook-squared:before { content: '\e8bd'; } /* 'Ã®Â¢Â½' */
.entypo-social.facebook-circled:before { content: '\e8be'; } /* 'Ã®Â¢Â¾' */
.entypo-social.facebook:before { content: '\e8bf'; } /* 'Ã®Â¢Â¿' */
.entypo-social.twitter-circled:before { content: '\e8c0'; } /* 'Ã®Â£â‚¬' */
.entypo-social.twitter:before { content: '\e8c1'; } /* 'Ã®Â£Â' */
.entypo-social.vimeo-circled:before { content: '\e8c2'; } /* 'Ã®Â£â€š' */
.entypo-social.vimeo:before { content: '\e8c3'; } /* 'Ã®Â£Æ’' */
.entypo-social.flickr-circled:before { content: '\e8c4'; } /* 'Ã®Â£â€ž' */
.entypo-social.flickr:before { content: '\e8c5'; } /* 'Ã®Â£â€¦' */
.entypo-social.github-circled:before { content: '\e8c6'; } /* 'Ã®Â£â€ ' */
.entypo-social.github:before { content: '\e8c7'; } /* 'Ã®Â£â€¡' */



.entypo.plus-circled:before { content: '\e800'; } /* 'Ã®Â â‚¬' */
.entypo.mail:before { content: '\e801'; } /* 'Ã®Â Â' */
.entypo.search:before { content: '\e802'; } /* 'Ã®Â â€š' */
.entypo.heart:before { content: '\e803'; } /* 'Ã®Â Æ’' */
.entypo.heart-empty:before { content: '\e804'; } /* 'Ã®Â â€ž' */
.entypo.star:before { content: '\e805'; } /* 'Ã®Â â€¦' */
.entypo.star-empty:before { content: '\e806'; } /* 'Ã®Â â€ ' */
.entypo.user:before { content: '\e807'; } /* 'Ã®Â â€¡' */
.entypo.users:before { content: '\e808'; } /* 'Ã®Â Ë†' */
.entypo.user-add:before { content: '\e809'; } /* 'Ã®Â â€°' */
.entypo.camera:before { content: '\e80a'; } /* 'Ã®Â Å ' */
.entypo.picture:before { content: '\e80b'; } /* 'Ã®Â â€¹' */
.entypo.video:before { content: '\e80c'; } /* 'Ã®Â Å’' */
.entypo.layout:before { content: '\e80d'; } /* 'Ã®Â Â' */
.entypo.menu:before { content: '\e80e'; } /* 'Ã®Â Å½' */
.entypo.check:before { content: '\e80f'; } /* 'Ã®Â Â' */
.entypo.cancel:before { content: '\e810'; } /* 'Ã®Â Â' */
.entypo.cancel-circled:before { content: '\e811'; } /* 'Ã®Â â€˜' */
.entypo.plus-squared:before { content: '\e812'; } /* 'Ã®Â â€™' */
.entypo.left-open-big:before { content: '\e813'; } /* 'Ã®Â â€œ' */
.entypo.chevron-thin-left:before { content: '\e813'; } /* 'Ã®Â â€œ' */
.entypo.right-open-big:before { content: '\e814'; } /* 'Ã®Â â€' */
.entypo.chevron-thin-right:before { content: '\e814'; } /* 'Ã®Â â€œ' */
.entypo.up-open-big:before { content: '\e815'; } /* 'Ã®Â â€¢' */
.entypo.down-open-big:before { content: '\e816'; } /* 'Ã®Â â€“' */
.entypo.up-open-mini:before { content: '\e817'; } /* 'Ã®Â â€”' */
.entypo.right-open-mini:before { content: '\e818'; } /* 'Ã®Â Ëœ' */
.entypo.left-open-mini:before { content: '\e819'; } /* 'Ã®Â â„¢' */
.entypo.lamp:before { content: '\e81a'; } /* 'Ã®Â Å¡' */
.entypo.chat:before { content: '\e81b'; } /* 'Ã®Â â€º' */
.entypo.bell:before { content: '\e81c'; } /* 'Ã®Â Å“' */
.entypo.attention:before { content: '\e81d'; } /* 'Ã®Â Â' */
.entypo.flag:before { content: '\e81e'; } /* 'Ã®Â Å¾' */
.entypo.bookmarks:before { content: '\e81f'; } /* 'Ã®Â Å¸' */
.entypo.bookmark:before { content: '\e820'; } /* 'Ã®Â Â ' */
.entypo.thumbs-up:before { content: '\e821'; } /* 'Ã®Â Â¡' */
.entypo.thumbs-down:before { content: '\e822'; } /* 'Ã®Â Â¢' */
.entypo.download:before { content: '\e823'; } /* 'Ã®Â Â£' */
.entypo.upload:before { content: '\e824'; } /* 'Ã®Â Â¤' */
.entypo.upload-cloud:before { content: '\e825'; } /* 'Ã®Â Â¥' */
.entypo.minus:before { content: '\e826'; } /* 'Ã®Â Â¦' */
.entypo.minus-circled:before { content: '\e827'; } /* 'Ã®Â Â§' */
.entypo.plus:before { content: '\e828'; } /* 'Ã®Â Â¨' */
.entypo.cancel-squared:before { content: '\e829'; } /* 'Ã®Â Â©' */
.entypo.minus-squared:before { content: '\e82a'; } /* 'Ã®Â Âª' */
.entypo.help:before { content: '\e82b'; } /* 'Ã®Â Â«' */
.entypo.help-circled:before { content: '\e82c'; } /* 'Ã®Â Â¬' */
.entypo.info:before { content: '\e82d'; } /* 'Ã®Â Â­' */
.entypo.info-circled:before { content: '\e82e'; } /* 'Ã®Â Â®' */
.entypo.back:before { content: '\e82f'; } /* 'Ã®Â Â¯' */
.entypo.home:before { content: '\e830'; } /* 'Ã®Â Â°' */
.entypo.link:before { content: '\e831'; } /* 'Ã®Â Â±' */
.entypo.attach:before { content: '\e832'; } /* 'Ã®Â Â²' */
.entypo.lock:before { content: '\e833'; } /* 'Ã®Â Â³' */
.entypo.lock-open:before { content: '\e834'; } /* 'Ã®Â Â´' */
.entypo.eye:before { content: '\e835'; } /* 'Ã®Â Âµ' */
.entypo.tag:before { content: '\e836'; } /* 'Ã®Â Â¶' */
.entypo.retweet:before { content: '\e837'; } /* 'Ã®Â Â·' */
.entypo.print:before { content: '\e838'; } /* 'Ã®Â Â¸' */
.entypo.feather:before { content: '\e839'; } /* 'Ã®Â Â¹' */
.entypo.pencil:before { content: '\e83a'; } /* 'Ã®Â Âº' */
.entypo.export:before { content: '\e83b'; } /* 'Ã®Â Â»' */
.entypo.code:before { content: '\e83c'; } /* 'Ã®Â Â¼' */
.entypo.quote:before { content: '\e83d'; } /* 'Ã®Â Â½' */
.entypo.forward:before { content: '\e83e'; } /* 'Ã®Â Â¾' */
.entypo.reply-all:before { content: '\e83f'; } /* 'Ã®Â Â¿' */
.entypo.reply:before { content: '\e840'; } /* 'Ã®Â¡â‚¬' */
.entypo.keyboard:before { content: '\e841'; } /* 'Ã®Â¡Â' */
.entypo.comment:before { content: '\e842'; } /* 'Ã®Â¡â€š' */
.entypo.alert:before { content: '\e843'; } /* 'Ã®Â¡Æ’' */
.entypo.vcard:before { content: '\e844'; } /* 'Ã®Â¡â€ž' */
.entypo.address:before { content: '\e845'; } /* 'Ã®Â¡â€¦' */
.entypo.location:before { content: '\e846'; } /* 'Ã®Â¡â€ ' */
.entypo.map:before { content: '\e847'; } /* 'Ã®Â¡â€¡' */
.entypo.direction:before { content: '\e848'; } /* 'Ã®Â¡Ë†' */
.entypo.compass:before { content: '\e849'; } /* 'Ã®Â¡â€°' */
.entypo.cup:before { content: '\e84a'; } /* 'Ã®Â¡Å ' */
.entypo.trash:before { content: '\e84b'; } /* 'Ã®Â¡â€¹' */
.entypo.doc:before { content: '\e84c'; } /* 'Ã®Â¡Å’' */
.entypo.docs:before { content: '\e84d'; } /* 'Ã®Â¡Â' */
.entypo.doc-text-inv:before { content: '\e84e'; } /* 'Ã®Â¡Å½' */
.entypo.newspaper:before { content: '\e84f'; } /* 'Ã®Â¡Â' */
.entypo.book-open:before { content: '\e850'; } /* 'Ã®Â¡Â' */
.entypo.book:before { content: '\e851'; } /* 'Ã®Â¡â€˜' */
.entypo.hourglass:before { content: '\e852'; } /* 'Ã®Â¡â€™' */
.entypo.clock:before { content: '\e853'; } /* 'Ã®Â¡â€œ' */
.entypo.volume:before { content: '\e854'; } /* 'Ã®Â¡â€' */
.entypo.sound:before { content: '\e855'; } /* 'Ã®Â¡â€¢' */
.entypo.mute:before { content: '\e856'; } /* 'Ã®Â¡â€“' */
.entypo.mic:before { content: '\e857'; } /* 'Ã®Â¡â€”' */
.entypo.logout:before { content: '\e858'; } /* 'Ã®Â¡Ëœ' */
.entypo.login:before { content: '\e859'; } /* 'Ã®Â¡â„¢' */
.entypo.calendar:before { content: '\e85a'; } /* 'Ã®Â¡Å¡' */
.entypo.bag:before { content: '\e85b'; } /* 'Ã®Â¡â€º' */
.entypo.basket:before { content: '\e85c'; } /* 'Ã®Â¡Å“' */
.entypo.shareable:before { content: '\e85d'; } /* 'Ã®Â¡Â' */
.entypo.share:before { content: '\e85e'; } /* 'Ã®Â¡Å¾' */
.entypo.tools:before { content: '\e85f'; } /* 'Ã®Â¡Å¸' */
.entypo.cog:before { content: '\e860'; } /* 'Ã®Â¡Â ' */
.entypo.phone:before { content: '\e861'; } /* 'Ã®Â¡Â¡' */
.entypo.rss:before { content: '\e862'; } /* 'Ã®Â¡Â¢' */
.entypo.box:before { content: '\e863'; } /* 'Ã®Â¡Â£' */
.entypo.archive:before { content: '\e864'; } /* 'Ã®Â¡Â¤' */
.entypo.folder:before { content: '\e865'; } /* 'Ã®Â¡Â¥' */
.entypo.light-down:before { content: '\e866'; } /* 'Ã®Â¡Â¦' */
.entypo.light-up:before { content: '\e867'; } /* 'Ã®Â¡Â§' */
.entypo.adjust:before { content: '\e868'; } /* 'Ã®Â¡Â¨' */
.entypo.block:before { content: '\e869'; } /* 'Ã®Â¡Â©' */
.entypo.resize-full:before { content: '\e86a'; } /* 'Ã®Â¡Âª' */
.entypo.resize-small:before { content: '\e86b'; } /* 'Ã®Â¡Â«' */
.entypo.popup:before { content: '\e86c'; } /* 'Ã®Â¡Â¬' */
.entypo.publish:before { content: '\e86d'; } /* 'Ã®Â¡Â­' */
.entypo.window:before { content: '\e86e'; } /* 'Ã®Â¡Â®' */
.entypo.arrow-combo:before { content: '\e86f'; } /* 'Ã®Â¡Â¯' */
.entypo.down-circled:before { content: '\e870'; } /* 'Ã®Â¡Â°' */
.entypo.right-circled:before { content: '\e871'; } /* 'Ã®Â¡Â±' */
.entypo.up-circled:before { content: '\e872'; } /* 'Ã®Â¡Â²' */
.entypo.down-open:before { content: '\e873'; } /* 'Ã®Â¡Â³' */
.entypo.left-open:before { content: '\e874'; } /* 'Ã®Â¡Â´' */
.entypo.up-open:before { content: '\e875'; } /* 'Ã®Â¡Âµ' */
.entypo.down-open-mini:before { content: '\e876'; } /* 'Ã®Â¡Â¶' */
.entypo.right-open:before { content: '\e877'; } /* 'Ã®Â¡Â·' */
.entypo.down-thin:before { content: '\e878'; } /* 'Ã®Â¡Â¸' */
.entypo.up-bold:before { content: '\e879'; } /* 'Ã®Â¡Â¹' */
.entypo.right-bold:before { content: '\e87a'; } /* 'Ã®Â¡Âº' */
.entypo.left-bold:before { content: '\e87b'; } /* 'Ã®Â¡Â»' */
.entypo.down-bold:before { content: '\e87c'; } /* 'Ã®Â¡Â¼' */
.entypo.up-dir:before { content: '\e87d'; } /* 'Ã®Â¡Â½' */
.entypo.right-dir:before { content: '\e87e'; } /* 'Ã®Â¡Â¾' */
.entypo.left-dir:before { content: '\e87f'; } /* 'Ã®Â¡Â¿' */
.entypo.down-dir:before { content: '\e880'; } /* 'Ã®Â¢â‚¬' */
.entypo.up:before { content: '\e881'; } /* 'Ã®Â¢Â' */
.entypo.right:before { content: '\e882'; } /* 'Ã®Â¢â€š' */
.entypo.left:before { content: '\e883'; } /* 'Ã®Â¢Æ’' */
.entypo.down:before { content: '\e884'; } /* 'Ã®Â¢â€ž' */
.entypo.left-thin:before { content: '\e885'; } /* 'Ã®Â¢â€¦' */
.entypo.right-thin:before { content: '\e886'; } /* 'Ã®Â¢â€ ' */
.entypo.up-thin:before { content: '\e887'; } /* 'Ã®Â¢â€¡' */
.entypo.ccw:before { content: '\e888'; } /* 'Ã®Â¢Ë†' */
.entypo.cw:before { content: '\e889'; } /* 'Ã®Â¢â€°' */
.entypo.arrows-ccw:before { content: '\e88a'; } /* 'Ã®Â¢Å ' */
.entypo.level-down:before { content: '\e88b'; } /* 'Ã®Â¢â€¹' */
.entypo.level-up:before { content: '\e88c'; } /* 'Ã®Â¢Å’' */
.entypo.shuffle:before { content: '\e88d'; } /* 'Ã®Â¢Â' */
.entypo.loop:before { content: '\e88e'; } /* 'Ã®Â¢Å½' */
.entypo.switch:before { content: '\e88f'; } /* 'Ã®Â¢Â' */
.entypo.play:before { content: '\e890'; } /* 'Ã®Â¢Â' */
.entypo.pause:before { content: '\e891'; } /* 'Ã®Â¢â€˜' */
.entypo.record:before { content: '\e892'; } /* 'Ã®Â¢â€™' */
.entypo.stop:before { content: '\e893'; } /* 'Ã®Â¢â€œ' */
.entypo.to-end:before { content: '\e894'; } /* 'Ã®Â¢â€' */
.entypo.fast-forward:before { content: '\e895'; } /* 'Ã®Â¢â€¢' */
.entypo.progress-0:before { content: '\e896'; } /* 'Ã®Â¢â€“' */
.entypo.db-shape:before { content: '\e897'; } /* 'Ã®Â¢â€”' */
.entypo.sweden:before { content: '\e898'; } /* 'Ã®Â¢Ëœ' */
.entypo.smashing:before { content: '\e899'; } /* 'Ã®Â¢â„¢' */
.entypo.logo-db:before { content: '\e89a'; } /* 'Ã®Â¢Å¡' */
.entypo.spotify-circled:before { content: '\e89b'; } /* 'Ã®Â¢â€º' */
.entypo.spotify:before { content: '\e89c'; } /* 'Ã®Â¢Å“' */
.entypo.rdio-circled:before { content: '\e89d'; } /* 'Ã®Â¢Â' */
.entypo.rdio:before { content: '\e89e'; } /* 'Ã®Â¢Å¾' */
.entypo.qq:before { content: '\e89f'; } /* 'Ã®Â¢Å¸' */
.entypo.instagram:before { content: '\e8a0'; } /* 'Ã®Â¢Â ' */
.entypo.dropbox:before { content: '\e8a1'; } /* 'Ã®Â¢Â¡' */
.entypo.evernote:before { content: '\e8a2'; } /* 'Ã®Â¢Â¢' */
.entypo.flattr:before { content: '\e8a3'; } /* 'Ã®Â¢Â£' */
.entypo.skype:before { content: '\e8a4'; } /* 'Ã®Â¢Â¤' */
.entypo.skype-circled:before { content: '\e8a5'; } /* 'Ã®Â¢Â¥' */
.entypo.renren:before { content: '\e8a6'; } /* 'Ã®Â¢Â¦' */
.entypo.sina-weibo:before { content: '\e8a7'; } /* 'Ã®Â¢Â§' */
.entypo.paypal:before { content: '\e8a8'; } /* 'Ã®Â¢Â¨' */
.entypo.picasa:before { content: '\e8a9'; } /* 'Ã®Â¢Â©' */
.entypo.mixi:before { content: '\e8aa'; } /* 'Ã®Â¢Âª' */
.entypo.behance:before { content: '\e8ab'; } /* 'Ã®Â¢Â«' */
.entypo.soundcloud:before { content: '\e8ac'; } /* 'Ã®Â¢Â¬' */
.entypo.google-circles:before { content: '\e8ad'; } /* 'Ã®Â¢Â­' */
.entypo.vkontakte:before { content: '\e8ae'; } /* 'Ã®Â¢Â®' */
.entypo.lastfm-circled:before { content: '\e8af'; } /* 'Ã®Â¢Â¯' */
.entypo.lastfm:before { content: '\e8b0'; } /* 'Ã®Â¢Â°' */
.entypo.stumbleupon-circled:before { content: '\e8b1'; } /* 'Ã®Â¢Â±' */
.entypo.stumbleupon:before { content: '\e8b2'; } /* 'Ã®Â¢Â²' */
.entypo.dribbble-circled:before { content: '\e8b3'; } /* 'Ã®Â¢Â³' */
.entypo.dribbble:before { content: '\e8b4'; } /* 'Ã®Â¢Â´' */
.entypo.linkedin-circled:before { content: '\e8b5'; } /* 'Ã®Â¢Âµ' */
.entypo.linkedin:before { content: '\e8b6'; } /* 'Ã®Â¢Â¶' */
.entypo.tumblr-circled:before { content: '\e8b7'; } /* 'Ã®Â¢Â·' */
.entypo.tumblr:before { content: '\e8b8'; } /* 'Ã®Â¢Â¸' */
.entypo.pinterest-circled:before { content: '\e8b9'; } /* 'Ã®Â¢Â¹' */
.entypo.pinterest:before { content: '\e8ba'; } /* 'Ã®Â¢Âº' */
.entypo.gplus-circled:before { content: '\e8bb'; } /* 'Ã®Â¢Â»' */
.entypo.gplus:before { content: '\e8bc'; } /* 'Ã®Â¢Â¼' */
.entypo.facebook-squared:before { content: '\e8bd'; } /* 'Ã®Â¢Â½' */
.entypo.facebook-circled:before { content: '\e8be'; } /* 'Ã®Â¢Â¾' */
.entypo.facebook:before { content: '\e8bf'; } /* 'Ã®Â¢Â¿' */
.entypo.twitter-circled:before { content: '\e8c0'; } /* 'Ã®Â£â‚¬' */
.entypo.twitter:before { content: '\e8c1'; } /* 'Ã®Â£Â' */
.entypo.vimeo-circled:before { content: '\e8c2'; } /* 'Ã®Â£â€š' */
.entypo.vimeo:before { content: '\e8c3'; } /* 'Ã®Â£Æ’' */
.entypo.flickr-circled:before { content: '\e8c4'; } /* 'Ã®Â£â€ž' */
.entypo.flickr:before { content: '\e8c5'; } /* 'Ã®Â£â€¦' */
.entypo.github-circled:before { content: '\e8c6'; } /* 'Ã®Â£â€ ' */
.entypo.github:before { content: '\e8c7'; } /* 'Ã®Â£â€¡' */
.entypo.cc-remix:before { content: '\e8c8'; } /* 'Ã®Â£Ë†' */
.entypo.cc-share:before { content: '\e8c9'; } /* 'Ã®Â£â€°' */
.entypo.cc-zero:before { content: '\e8ca'; } /* 'Ã®Â£Å ' */
.entypo.cc-pd:before { content: '\e8cb'; } /* 'Ã®Â£â€¹' */
.entypo.cc-nd:before { content: '\e8cc'; } /* 'Ã®Â£Å’' */
.entypo.cc-sa:before { content: '\e8cd'; } /* 'Ã®Â£Â' */
.entypo.cc-nc-jp:before { content: '\e8ce'; } /* 'Ã®Â£Å½' */
.entypo.cc-nc-eu:before { content: '\e8cf'; } /* 'Ã®Â£Â' */
.entypo.cc-nc:before { content: '\e8d0'; } /* 'Ã®Â£Â' */
.entypo.cc-by:before { content: '\e8d1'; } /* 'Ã®Â£â€˜' */
.entypo.cc:before { content: '\e8d2'; } /* 'Ã®Â£â€™' */
.entypo.traffic-cone:before { content: '\e8d3'; } /* 'Ã®Â£â€œ' */
.entypo.gauge:before { content: '\e8d4'; } /* 'Ã®Â£â€' */
.entypo.rocket:before { content: '\e8d5'; } /* 'Ã®Â£â€¢' */
.entypo.flow-parallel:before { content: '\e8d6'; } /* 'Ã®Â£â€“' */
.entypo.tape:before { content: '\e8d7'; } /* 'Ã®Â£â€”' */
.entypo.graduation-cap:before { content: '\e8d8'; } /* 'Ã®Â£Ëœ' */
.entypo.language:before { content: '\e8d9'; } /* 'Ã®Â£â„¢' */
.entypo.ticket:before { content: '\e8da'; } /* 'Ã®Â£Å¡' */
.entypo.water:before { content: '\e8db'; } /* 'Ã®Â£â€º' */
.entypo.droplet:before { content: '\e8dc'; } /* 'Ã®Â£Å“' */
.entypo.air:before { content: '\e8dd'; } /* 'Ã®Â£Â' */
.entypo.credit-card:before { content: '\e8de'; } /* 'Ã®Â£Å¾' */
.entypo.floppy:before { content: '\e8df'; } /* 'Ã®Â£Å¸' */
.entypo.clipboard:before { content: '\e8e0'; } /* 'Ã®Â£Â ' */
.entypo.megaphone:before { content: '\e8e1'; } /* 'Ã®Â£Â¡' */
.entypo.database:before { content: '\e8e2'; } /* 'Ã®Â£Â¢' */
.entypo.drive:before { content: '\e8e3'; } /* 'Ã®Â£Â£' */
.entypo.bucket:before { content: '\e8e4'; } /* 'Ã®Â£Â¤' */
.entypo.thermometer:before { content: '\e8e5'; } /* 'Ã®Â£Â¥' */
.entypo.key:before { content: '\e8e6'; } /* 'Ã®Â£Â¦' */
.entypo.flow-cascade:before { content: '\e8e7'; } /* 'Ã®Â£Â§' */
.entypo.flow-branch:before { content: '\e8e8'; } /* 'Ã®Â£Â¨' */
.entypo.flow-tree:before { content: '\e8e9'; } /* 'Ã®Â£Â©' */
.entypo.flow-line:before { content: '\e8ea'; } /* 'Ã®Â£Âª' */
.entypo.chart-area:before { content: '\e8eb'; } /* 'Ã®Â£Â«' */
.entypo.cloud:before { content: '\e8ec'; } /* 'Ã®Â£Â¬' */
.entypo.chart-bar:before { content: '\e8ed'; } /* 'Ã®Â£Â­' */
.entypo.chart-line:before { content: '\e8ee'; } /* 'Ã®Â£Â®' */
.entypo.globe:before { content: '\e8ef'; } /* 'Ã®Â£Â¯' */
.entypo.install:before { content: '\e8f0'; } /* 'Ã®Â£Â°' */
.entypo.chart-pie:before { content: '\e8f1'; } /* 'Ã®Â£Â±' */
.entypo.erase:before { content: '\e8f2'; } /* 'Ã®Â£Â²' */
.entypo.inbox:before { content: '\e8f3'; } /* 'Ã®Â£Â³' */
.entypo.cd:before { content: '\e8f4'; } /* 'Ã®Â£Â´' */
.entypo.infinity:before { content: '\e8f5'; } /* 'Ã®Â£Âµ' */
.entypo.magnet:before { content: '\e8f6'; } /* 'Ã®Â£Â¶' */
.entypo.network:before { content: '\e8f7'; } /* 'Ã®Â£Â·' */
.entypo.mobile:before { content: '\e8f8'; } /* 'Ã®Â£Â¸' */
.entypo.brush:before { content: '\e8f9'; } /* 'Ã®Â£Â¹' */
.entypo.dot-3:before { content: '\e8fa'; } /* 'Ã®Â£Âº' */
.entypo.monitor:before { content: '\e8fb'; } /* 'Ã®Â£Â»' */
.entypo.back-in-time:before { content: '\e8fc'; } /* 'Ã®Â£Â¼' */
.entypo.dot-2:before { content: '\e8fd'; } /* 'Ã®Â£Â½' */
.entypo.dot:before { content: '\e8fe'; } /* 'Ã®Â£Â¾' */
.entypo.battery:before { content: '\e8ff'; } /* 'Ã®Â£Â¿' */
.entypo.trophy:before { content: '\e900'; } /* 'Ã®Â¤â‚¬' */
.entypo.suitcase:before { content: '\e901'; } /* 'Ã®Â¤Â' */
.entypo.briefcase:before { content: '\e902'; } /* 'Ã®Â¤â€š' */
.entypo.signal:before { content: '\e903'; } /* 'Ã®Â¤Æ’' */
.entypo.list-add:before { content: '\e904'; } /* 'Ã®Â¤â€ž' */
.entypo.mouse:before { content: '\e905'; } /* 'Ã®Â¤â€¦' */
.entypo.lifebuoy:before { content: '\e906'; } /* 'Ã®Â¤â€ ' */
.entypo.list:before { content: '\e907'; } /* 'Ã®Â¤â€¡' */
.entypo.palette:before { content: '\e908'; } /* 'Ã®Â¤Ë†' */
.entypo.leaf:before { content: '\e909'; } /* 'Ã®Â¤â€°' */
.entypo.paper-plane:before { content: '\e90a'; } /* 'Ã®Â¤Å ' */
.entypo.target:before { content: '\e90b'; } /* 'Ã®Â¤â€¹' */
.entypo.progress-3:before { content: '\e90c'; } /* 'Ã®Â¤Å’' */
.entypo.flight:before { content: '\e90d'; } /* 'Ã®Â¤Â' */
.entypo.moon:before { content: '\e90e'; } /* 'Ã®Â¤Å½' */
.entypo.progress-2:before { content: '\e90f'; } /* 'Ã®Â¤Â' */
.entypo.progress-1:before { content: '\e910'; } /* 'Ã®Â¤Â' */
.entypo.flash:before { content: '\e911'; } /* 'Ã®Â¤â€˜' */
.entypo.to-start:before { content: '\e912'; } /* 'Ã®Â¤â€™' */
.entypo.fast-backward:before { content: '\e913'; } /* 'Ã®Â¤â€œ' */
.entypo.note:before { content: '\e914'; } /* 'Ã®Â¤â€' */
.entypo.note-beamed:before { content: '\e915'; } /* 'Ã®Â¤â€¢' */
.entypo.music:before { content: '\e916'; } /* 'Ã®Â¤â€“' */
.entypo.flashlight:before { content: '\e917'; } /* 'Ã®Â¤â€”' */
.entypo.doc-landscape:before { content: '\e918'; } /* 'Ã®Â¤Ëœ' */
.entypo.doc-text:before { content: '\e919'; } /* 'Ã®Â¤â„¢' */
.entypo.left-circled:before { content: '\e91a'; } /* 'Ã®Â¤Å¡' */

.entypo.shape-bubble:before { content: '\e91b'; } /* 'Ã®Â¤â€º' */
.entypo.shape-badge-ribbon:before { content: '\e921'; } /* 'Ã®Â¤Â¡' */
.entypo.shape-burst-8:before { content: '\e923'; } /* 'Ã®Â¤Â£' */
.entypo.shape-burst-12:before { content: '\e924'; } /* 'Ã®Â¤Â¤' */
.entypo.shape-circle:before { content: '\e925'; } /* 'Ã®Â¤Â¥' */
.entypo.shape-diamond:before { content: '\e926'; } /* 'Ã®Â¤Â¦' */
.entypo.shape-heart:before { content: '\e927'; } /* 'Ã®Â¤Â§' */
.entypo.shape-hexagon:before { content: '\e928'; } /* 'Ã®Â¤Â¨' */
.entypo.shape-octagon:before { content: '\e929'; } /* 'Ã®Â¤Â©' */

